body{margin: 0;}
a{ text-decoration: none;}
li{ list-style-type: none;}

.logo {position: relative; width: 720px; height: 1300px; margin: 0 auto; background: url("../image/lo12-100.jpg") center center no-repeat;}
.logo #garim{ position: absolute; width: 240px; height: 210px; background-color: white; top: 400px; left: 240px;}
.logo #garim2{ position: absolute; width: 100%; height: 450px; background-color: white; top: 770px;}
.logo #hg {display: block; position: relative; width: 567px; height: 71px; margin: 0 auto; top: 1121px; border-radius: 10px;}
.logo form{ width: 600px; height: 300px; position: absolute; left: 175px; top: 770px;}
.logo form .inputid{ position: absolute; top: 20px; display: block; width: 400px; height: 30px; font-size: 25px; outline: none; border: 0;}
.logo form .inputpw{ position: absolute; top: 106px; display: block; width: 400px; height: 30px; font-size: 25px; outline: none; border: 0;}
.logo form .submit { position: absolute; top: 195px; width: 567px; height: 71px; background-color: transparent; padding: 0; left: -98px; cursor: pointer; border-radius: 10px; border: 0;}

.yg {position: relative; width: 720px; height: 1300px; margin: 0 auto; background: url("../image/log2.jpg") center center no-repeat;}
.yg #back { display: block; position: absolute; left: 40px; top: 40px; width: 50px; height: 50px;}
.yg #policy { position: relative; width: 550px; height: 650px; top: 350px; margin: 0 auto;  text-align: left;}
.yg #policy #content {width: 450px; height: 550px; position: absolute; left: 47px; top: 145px; font-size: 25px; border: none; outline: none;  text-align: left;}
.yg #policy #content::-webkit-scrollbar { display: none;}
.yg #pass {display: block; position: relative; margin: 0 auto; width: 565px; height: 88px; bottom: -453px; border-bottom-left-radius: 30px; border-bottom-right-radius: 30px}

.sign {position: relative; width: 720px; height: 1300px; margin: 0 auto; background: url("../image/log6.jpg") center center no-repeat;}
.sign #back { display: block; position: absolute; left: 40px; top: 40px; width: 50px; height: 50px;}
.sign #sform2 {position: absolute; width: 600px; height: 600px;top: 600px; left: 192px;}
.sign #sform2 input{border: 0; outline: none;}
.sign #sform2 .sid {position: absolute; display: block; width: 400px; height: 30px; font-size: 25px; top:58px;}
.sign #sform2 .spw {position: absolute; display: block; width: 400px; height: 30px; font-size: 25px; top:146px}
.sign #sform2 .spw2 {position: absolute; display: block; width: 400px; height: 30px; font-size: 25px; top:234px}
.sign #sform2 .semail {position: absolute; display: block; width: 400px; height: 30px; font-size: 25px; top:321px}
.sign #sform2 .ssub { position: relative; display: block; width: 567px; height: 92px; top: 501px; left: -115px; border-bottom-left-radius: 30px; border-bottom-right-radius: 30px; background-color: transparent; cursor: pointer}

#emailgogo {background: url("../image/emailgo.png") center center no-repeat; width: 720px; height: 1300px; margin: 0 auto;}